
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Content -->
<div class="container-fluid p-y-md">
    <div class="card card-profile">
        <div class="card-profile-img bg-img" style="background-image: url(../html-appui/dist/assets/img/misc/base_pages_profile_header_bg.jpg);">
        </div>
        <div class="card-block card-profile-block text-xs-center text-sm-left">
            <img class="img-avatar img-avatar-96" src="../html-appui/dist/assets/img/avatars/Login1.jpg" alt="" />
            @*<div class="profile-info font-500">
                    John Doe
                    <div class="small text-muted m-t-xs">user@email.com</div>
                </div>*@
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <ul class="nav nav-tabs nav-stacked">
                    <li class="active">
                        <a href="#profile-tab1" data-toggle="tab">基本信息</a>
                    </li>
                    <li>
                        <a href="#profile-tab2" data-toggle="tab" id="send">查看个人二维码</a>
                    </li>
                    <li>
                        <a href="#profile-tab3" data-toggle="tab">Password</a>
                    </li>
                </ul>
                <!-- .nav-tabs -->
            </div>
            <!-- .card -->
        </div>
        <!-- .col-md-4 -->

        <div class="col-md-8">
            <div class="card">
                <div class="card-block tab-content">
                    <!-- Profile tab 1 -->
                    <div class="tab-pane fade in active" id="profile-tab1">
                        <form class="fieldset" id="get" name="get" method="post" action="result.jsp">
                            <h4 class="m-t-sm m-b">基本信息</h4>
                            <div class="form-group row">
                                <div class="col-xs-6">
                                    <label for="Uname">账号</label>
                                    <input type="text" name="ID" class="form-control" id="Uname" />
                                </div>
                                <div class="col-xs-6">
                                    <label for="RealName">真实姓名</label>
                                    <input type="text"name="RealName" class="form-control" id="RealName" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-6">
                                    <label for="Phone">移动电话</label>
                                    <input type="text" name="Phone" class="form-control" id="Phone" />
                                </div>
                                <div class="col-xs-6">
                                    <label for="Email">电子邮件</label>
                                    <input type="text" name="Email" class="form-control" id="Email" />
                                </div>
                            </div>

                            <h4 class="m-t-md m-b">更改密码</h4>
                            <div class="form-group row">
                                <div class="col-xs-6">
                                    <label for="Pass">确认当前密码</label>
                                    <input type="password" class="form-control" id="Pass" />
                                </div>
                                <div class="col-xs-6">
                                    <label for="exampleInputPassword2">确认新密码</label>
                                    <input type="text" class="form-control" id="NewPass" />
                                </div>
                            </div>
                            <div class="row narrow-gutter">
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-default btn-block" onclick="Fan()">返回</button>
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-app btn-block" onclick="UserMessageUpt()">保存更改<span class="hidden-xs"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- End profile tab 1 -->
                    <!-- Profile tab 2 -->
                    <div class="tab-pane fade" id="profile-tab2">
                        <form class="fieldset">
                            <h4 class="m-t-sm m-b">信息二维码</h4>
                            <div id="qrcode">

                            </div>
                        </form>
                    </div>
                    <!-- End profile tab 2 -->
                    <!-- Profile tab 3 -->
                    <div class="tab-pane fade" id="profile-tab3">
                        <form class="fieldset">
                            <h4 class="m-t-sm m-b">General info</h4>
                            <div class="form-group row">
                                <div class="col-xs-6">
                                    <label for="exampleInputName1">First name</label>
                                    <input type="text" class="form-control" id="exampleInputName1" />
                                </div>
                                <div class="col-xs-6">
                                    <label for="exampleInputName2">Last name</label>
                                    <input type="text" class="form-control" id="exampleInputName2" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-6">
                                    <label for="exampleInputPhone1">Mobile phone</label>
                                    <input type="tel" class="form-control" id="exampleInputPhone1" />
                                </div>
                                <div class="col-xs-6">
                                    <label for="exampleInputPhone2">Work phone</label>
                                    <input type="datetime-local" class="form-control" id="exampleInputPhone2" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputAddress">Address</label>
                                <input type="text" class="form-control" id="exampleInputAddress" />
                            </div>

                            <h4 class="m-t-md m-b">Change password</h4>
                            <div class="form-group row">
                                <div class="col-xs-6">
                                    <label for="exampleInputPassword1">Confirm current password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" />
                                </div>
                                <div class="col-xs-6">
                                    <label for="exampleInputPassword2">Confirm new password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword2" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-6">
                                    <label for="exampleInputPassword3">New password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword3" />
                                </div>
                            </div>
                            <div class="row narrow-gutter">
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-default btn-block">Cancel</button>
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-app btn-block">Save<span class="hidden-xs"> changes</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- End profile tab 3 -->

                </div>
                <!-- .card-block .tab-content -->
            </div>
            <!-- .card -->
        </div>
        <!-- .col-md-8 -->
    </div>
    <!-- .row -->
</div>
<!-- End Page Content -->

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/GZHjs/md5.js"></script>
<script src="~/GZHjs/qrcode.js"></script>
<script src="~/GZHjs/GetForm.js"></script>
<script>

    $(function () {
        Ziliao();
    });
    function Ziliao() {

        $.ajax({
            url: 'http://localhost:50222/api/UserInfoAdd/UserMessageFill?id=' + getCookie("NameId"),
            type: 'get',
            contentType: "application/json",
            success: function (d) {
                $("#Uname").val(d.uname);
                $("#RealName").val(d.realName);
                $("#Pass").val(d.pass);
                $("#Phone").val(d.phone);
                $("#Email").val(d.email);
            }
        })
    }

    function getCookie(NameId) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(NameId + "=")
            if (c_start != -1) {
                c_start = c_start + NameId.length + 1
                c_end = document.cookie.indexOf(";", c_start)
                if (c_end == -1) c_end = document.cookie.length
                return unescape(document.cookie.substring(c_start, c_end))
            }
        }
        return ""
    }

    function UserMessageUpt() {
        //md5加密
        var Pass = $("#NewPass").val();
        var p = hex_md5(Pass);
        if (Pass == "") {
            alert('请输入新的密码');
            return;
        }
        var obj = {};
        obj.uname = $("#Uname").val();
        obj.realName = $("#RealName").val();
        obj.pass = p;
        obj.email = $("#Email").val();
        obj.phone = $("#Phone").val();

        obj.id = parseInt(getCookie("NameId"));

        $.ajax({
            url: 'http://localhost:50222/api/UserInfoAdd/UserMessageUpt',
            type: 'Post',
            data: JSON.stringify(obj),
            contentType: "application/json",
            success: function (d) {
                if (d > 0) {
                    alert('保存成功');
                }
                else {
                    alert('保存失败');
                }
            }
        })
    }
    function Fan() {
        location.href = '/Statisticss/Homepage'
    }



    //二维码生成
    window.onload = function () {

        var qrcode = new QRCode(document.getElementById("qrcode"), {

            width: 200,//设置宽高

            height: 200

        });

        qrcode.makeCode("http://www.baidu.com");

        document.getElementById("send").onclick = function () {
            var params = serializeForm('get');

            qrcode.makeCode(params);

        }

    }


</script>

<style>

    #qrcode {
        text-align: center;
        display: table-cell;
        width: 96px;
        height: 96px;
        vertical-align: middle;
        position: relative;
    }
</style>


