
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="~/zdy/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
    <blockquote class="layui-elem-quote">
        <p>提现记录</p>
        <p>提现总金额:<span id="DrugPriceSum" style="color:red;font-weight:700;"></span>元</p>
    </blockquote>
    <table class="layui-table" lay-size="lg" id="tab">
        <colgroup>
            <col width="300">
            <col width="300">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>日期</th>
                <th>金额</th>
                <th>状态</th>
            </tr>
        </thead>
        <tbody id="qwes">
        </tbody>
    </table>

    <script src="~/GZHjs/jquery.min.js"></script>
    <script src="~/zdy/layui-v2.5.6/layui/layui.js"></script>

    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        var monerss = 0;
        Show();
        function Show() {
            $.ajax({
                url: 'http://localhost:50222/api/Wallet/ShowTixian',
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    $(d).each(function () {
                        var s = ' <tr> '
                            + '  <td>' + this.data + '</td>'
                            + '   <td>' + this.jine + '</td>'
                            + '   <td>' + this.zt + '</td>'
                            + '  </tr >';
                        $("#qwes").append(s);

                        var sum1 = 0;
                        var tableId = document.getElementById("tab");
                        for (var i = 0; i < tableId.rows.length; i++) {
                            var a = Number(tableId.rows[i].cells[1].innerHTML) || 0;
                            sum1 += a;
                        }
                        var demoP = document.getElementById("DrugPriceSum");
                        demoP.innerHTML = + sum1;

                    })

                }
            })

        }
    </script>

</body>
</html>

