@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />

<div>
    <div style="margin-left:80px">
        <div style="float:left">
            <input id="Button1" type="button" style="width:150px;height:50px;background-color:cornflowerblue" value="商品管理" onclick="location.href='/sy/Show2'" />
            <input id="Button1" type="button" style="width:150px;height:50px;background-color:cornflowerblue" value="商品添加" onclick="location.href='/sy/AddGoods'" />
            <input id="Button1" type="button" style="width:150px;height:50px;background-color:cornflowerblue" value="分类管理" onclick="location.href='/sy/ShowType'" />
        </div>
    </div>
    <div style="margin-right: 150px">
        <div style="float:right">
            <input id="GoodsName" type="text" style="width:300px;height:30px" placeholder="请输入关键字" />
            <input id="Button1" type="button" style="width:70px;height:40px;background-color:darkgoldenrod" value="搜索" onclick="ShowGoods(1)" />
            <input id="Button1" type="button" style="width:150px;height:50px;background-color:cornflowerblue" value="列表显示" onclick="location.href='/sy/ShowGoods'" />
        </div>
    </div>
</div>
<br />
<br />
<br />

<table class="table table-bordered">
    <thead style="text-align:center">
        <tr style="background:#a9c6c9">
            <td>编号</td>
            <td>商品名称</td>
            <td>商品分类</td>
            <td>商品单价</td>
            <td>销售量</td>
            <td>状态</td>
            <td>审核状态</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody id="tb"></tbody>
</table>

<div class="row">
    <div class="" style="float:right;margin-right:50px;">
        <td>总记录数<span id="TotalCount"></span>条</td>
        <td>总共<span id="TotalPage"></span>页</td>
        <td>当前第<span id="CurrentPage"></span>页</td>
        <td><input id="Button1" class="info-close" type="button" style="color:#000000" value="☀" onclick="ShowGoods(1)" /></td>
        <td><input id="Button1" class="info-close" type="button" style="color:#000000" value="<<" onclick="ShowGoods(currentPage-1)" /></td>
        <td><input id="Button1" class="info-close" type="button" style="color:#000000" value=">>" onclick="ShowGoods(currentPage+1)" /></td>
        <td><input id="Button1" class="info-close" type="button" style="color:#000000" value="☾" onclick="ShowGoods(totalPage)" /></td>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>

    $(function () {
        ShowGoods(1);
    });

    //商品列表显示
    var pageSize = 3;
    var currentPage = 1;
    var totalPage = 1;

    function ShowGoods(page) {
        $("#div1").empty();
        var obj = {};
        obj.goodsName = $("#GoodsName").val();

        obj.currentPage = page;
        obj.pageSize = pageSize;
        $.ajax({
            url: "http://localhost:50222/api/Goods/Get",
            type: "get",
            dataType: 'json',
            data: obj,
            async: true,
            crossDomain: true,
            success: function (d) {
                $("#TotalCount").text(d.totalCount);
                $("#TotalPage").text(d.totalPage);
                $("#CurrentPage").text(d.currentPage);
                //最大页
                totalPage = d.totalPage;
                //当前页
                currentPage = d.currentPage;
                //清空表格
                $("#tb").empty();
                //循环遍历
                $(d.goods).each(function () {
                    //拼接tr一行
                    var line = '<tr>'
                        + '<td style="font-weight:bolder;font-size:20px;text-align:center">' + this.id + '</td>'
                        + '<td style="font-weight:bolder;font-size:20px;text-align:center">' + this.goodsName + '</td>'
                        + '<td style="font-weight:bolder;font-size:20px;text-align:center">' + this.typeName + '</td>'
                        + '<td style="color:red;font-size:28px;font-weight:bolder;text-align:center">' + this.goodsPrice + '</td>'
                        + '<td style="font-weight:bolder;font-size:20px;text-align:center">' + this.goodsSalesvolume + '</td>'
                        + '<td style="font-weight:bolder;font-size:20px;text-align:center">' + (this.goodsOnStatus ? "上架" : "下架") + '</td>'
                        + '<td style="font-weight:bolder;font-size:20px;text-align:center">' + this.goodsAuditStatuss + '</td>'
                        + '<td style="font-weight:bolder;font-size:20px;text-align:center">'
                        + "<a href = '/sy/UptGoods/" + this.id + "'>编辑&nbsp;&nbsp;</a>"
                        + "<a href='javascripts:;' onclick=Del(" + this.id + ")>删除&nbsp;&nbsp;</a>"
                        + "<a href='javascripts:;' onclick=UptStatus(" + this.id + ")>" + (this.goodsOnStatus ? "下架" : "上架") + "</a>"
                        + '</td>'
                        + '</tr>'
                    //将数据放入表格
                    $("#tb").append(line);
                });
            }
        });
    } 


    //删除商品信息
    function Del(id) {
        if (confirm("确认删除码？")) {
            $.ajax({
                url: "http://localhost:50222/api/Goods/Delete?id=" + id,
                type: "delete",
                success: function (d) {
                    if (d > 0) {
                        alert("删除成功");
                        location.href = "/sy/ShowGoods";
                    }
                    else {
                        alert("删除失败");
                    }
                }
            })
        }
    }

    //修改上架下架状态
    function UptStatus(id) {
        if (confirm("确认要进行此操作吗？")) {
            $.ajax({
                url: 'http://localhost:50222/api/UptGoodsStatus/Put?id=' + id,
                type: 'put',
                data: { id: id },
                dataType: 'json',
                success: function (d) {
                    if (d > 0) {
                        alert('操作成功');
                        ShowGoods();
                    }
                    else {
                        alert('操作失败');
                    }
                }
            })
        }
    }
</script>


<style>
    /*删除按钮css样式*/

    .info-close {
        /*position: fixed;*/
        right: calc(50% - 10px);
        width: 30px;
        height: 30px;
        background: #ff0000;
        opacity: .6;
        border-radius: 25px;
        cursor: pointer;
        z-index: 2002;
    }

        .info-close:before {
            position: absolute;
            content: '';
            width: 20px;
            height: 2px;
            background: white;
            transform: rotate(45deg);
            top: 14px;
            left: 5px;
        }

        .info-close:after {
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            background: white;
            transform: rotate(-45deg);
            top: 14px;
            left: 5px;
        }
</style>