
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />

<div>
    <div style="margin-left:80px">
        <div style="float:left">
            <input id="Button1" type="button" style="width:150px;height:50px;background-color:cornflowerblue" value="商品管理" onclick="location.href='/sy/Show2'" />
            <input id="Button1" type="button" style="width:150px;height:50px;background-color:cornflowerblue" value="商品添加" onclick="location.href='/sy/AddGoods'" />
            <input id="Button1" type="button" style="width:150px;height:50px;background-color:cornflowerblue" value="分类管理" onclick="location.href='/sy/ShowType'" />
        </div>
    </div>
    <div style="margin-right: 150px">
        <div style="float:right">
            <input id="GoodsName" type="text" style="width:300px;height:30px" placeholder="请输入关键字" />
            <input id="Button1" type="button" style="width:70px;height:40px;background-color:darkgoldenrod" value="搜索" onclick="ShowGoods(1)" />
            <input id="Button1" type="button" style="width:150px;height:50px;background-color:cornflowerblue" value="列表显示" onclick="location.href='/sy/ShowGoods'" />
        </div>
    </div>
</div>
<br />
<br />
<br />


<div class="row" id="buju">

</div>

<div class="row">
    <div class="" style="float:right;margin-right:50px;">
        <td>总记录数<span id="TotalCount"></span>条</td>
        <td>总共<span id="TotalPage"></span>页</td>
        <td>当前第<span id="CurrentPage"></span>页</td>
        <td><input id="Button1" class="info-close" type="button" style="color:#000000" value="☀" onclick="Show(1)" /></td>
        <td><input id="Button1" class="info-close" type="button" style="color:#000000" value="<<" onclick="Show(currentPage-1)" /></td>
        <td><input id="Button1" class="info-close" type="button" style="color:#000000" value=">>" onclick="Show(currentPage+1)" /></td>
        <td><input id="Button1" class="info-close" type="button" style="color:#000000" value="☾" onclick="Show(totalPage)" /></td>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>


<script>
    $(function () {
        Show(1);
    });

    var pageSize = 3;
    var currentPage = 1;
    var totalPage = 1;
    function Show(page) {
        $("#div1").empty();
        var obj = {};
        obj.goodsName = $("#GoodsName").val();
        obj.currentPage = page;
        obj.pageSize = pageSize;
        $.ajax({
            url: "http://localhost:50222/api/Goods/Get",
            type: "get",
            dataType: 'json',
            data: obj,
            async: true,
            crossDomain: true,
            success: function (d) {
                $(".am-g").empty();
                $("#TotalCount").text(d.totalCount);
                $("#TotalPage").text(d.totalPage);
                $("#CurrentPage").text(d.currentPage);
                //最大页
                totalPage = d.totalPage;
                //当前页
                currentPage = d.currentPage;
                //循环遍历
                $(d.goods).each(function () {
                    var s =
                        +'<div class="col-md-4">'
                        + '   <div id="div1" class="col-md-4" >'
                        + '<a class="card hover-shadow-3 text-center" href="javascript:void(0)">'
                        + '    <div class="card-header">'
                        + '       <h4 class="h2">' + this.goodsName + '</h4>'
                        + '   </div>'
                        + '  <div class="card-block card-block-full bg-gray-lighter-o">'
                        + '      <div class="h1 m-y-sm">￥' + this.goodsPrice + '</div>'
                        + '      <div class="h5 font-300 text-muted m-t-0">Price</div>'
                        + '  </div>'
                        + '  <div class="card-block">'
                        + '      <table class="table table-borderless table-condensed">'
                        + '          <tbody>'
                        + '              <tr>'
                        + '                  <td><strong>' + this.typeName + '</strong> Type</td>'
                        + '              </tr>'
                        + '              <tr>'
                        + '                  <td><strong>' + this.goodsSalesvolume + '</strong>Sale</td>'
                        + '              </tr>'
                        + '          </tbody>'
                        + '      </table>'
                        + '  </div>'
                        + '  <div class="card-block card-block-mini card-block-full bg-gray-lighter-o">'
                        + '       <table>'
                        + '          <tr>'
                        + "                <a href = '/sy/UptGoods/" + this.id + "'>编辑&nbsp;&nbsp;</a>"
                        + "                <a href='javascripts:;' onclick=Del(" + this.id + ")>删除&nbsp;&nbsp;</a>"
                        + "                <a href='javascripts:;' onclick=UptStatus(" + this.id + ")>" + (this.goodsOnStatus ? "下架" : "上架") + "</a>"
                        + '          </tr > '
                        + '      </table > '
                        + '  </div>'
                        + '  </a>'
                        + '</div>'
                        + '</div>'

                    $("#buju").append(s);
                })

            }
        })
    }

    //删除商品信息
    function Del(id) {
        if (confirm("确认删除码？")) {
            $.ajax({
                url: "http://localhost:50222/api/Goods/Delete?id=" + id,
                type: "delete",
                success: function (d) {
                    if (d > 0) {
                        alert("删除成功");
                        location.href = "/sy/Show2";
                    }
                    else {
                        alert("删除失败");
                    }
                }
            })
        }
    }


</script>


<style>
    /*删除按钮css样式*/

    .info-close {
        /*position: fixed;*/
        right: calc(50% - 10px);
        width: 30px;
        height: 30px;
        background: #ff0000;
        opacity: .6;
        border-radius: 25px;
        cursor: pointer;
        z-index: 2002;
    }

        .info-close:before {
            position: absolute;
            content: '';
            width: 20px;
            height: 2px;
            background: white;
            transform: rotate(45deg);
            top: 14px;
            left: 5px;
        }

        .info-close:after {
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            background: white;
            transform: rotate(-45deg);
            top: 14px;
            left: 5px;
        }
</style>
