@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h2>
                        这是实例
                    </h2>
                </div>
                <div class="card-block">
                    <p>
                        好的
                    </p>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-lg-4">
           

        </div>
        <div class="col-sm-6 col-lg-4">


        </div>
        <div class="col-sm-6 col-lg-4">


        </div>

    </div>


