@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <input type="hidden" name="name" value="@ViewBag.free" id="free"/>
       

    </div>
    <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/series-label.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/oldie.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>

<!-- Page Content -->
<div class="container-fluid p-y-md">
    <!-- Card Tabs -->
   
    <div class="row">
        <div class="col-md-12">
            <!-- Card Tabs Default Style -->
            <div class="card">
                <ul class="nav nav-tabs" data-toggle="tabs">
                    <li class="active">
                        <a href="#btabs-static-home">商品统计</a>
                    </li>
                    <li>
                        <a href="#btabs-static-profile">人数统计</a>
                    </li>
                    <li>
                        <a href="#btabs-static-3">浏览次数</a>
                    </li>
                    
                    <li class="pull-right">
                        <a href="#btabs-static-settings" data-toggle="tooltip" title="Settings"><i class="ion-ios-gear-outline"></i></a>
                    </li>
                </ul>
                <div class="card-block tab-content">
                    <div class="tab-pane active" id="btabs-static-home">
                       
                            <div id="container" style="max-width:1600px;height:600px"></div>
                            <script>
                                


                                var chart = Highcharts.chart('container', {
                                    title: {
                                        text: '2 ~ 9 男装总量'
                                    },
                                    subtitle: {
                                        text: '数据来源：商品管理（数据）'
                                    },
                                    yAxis: {
                                        title: {
                                            text: '男装总量'
                                        }
                                    },
                                    legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'middle'
                                    },
                                    plotOptions: {
                                        series: {
                                            label: {
                                                connectorAllowed: false
                                            },
                                            pointStart: 2
                                        }
                                    },                                    
                                    series: [{
                                        name: '男装',
                                        data: [5000, 2000, 4500, 4000, 8000, 3020, 2000, 2800]
                                    }],
                                    responsive: {
                                        rules: [{
                                            condition: {
                                                maxWidth: 500
                                            },
                                            chartOptions: {
                                                legend: {
                                                    layout: 'horizontal',
                                                    align: 'center',
                                                    verticalAlign: 'bottom'
                                                }
                                            }
                                        }]
                                    }
                                });

                            </script>
                        
                            
                    </div>
                    <div class="tab-pane" id="btabs-static-profile">
                        <div id="one" style="max-width:1600px;height:600px"></div>
                        <script>



                            var chart = Highcharts.chart('one', {
                                title: {
                                    text: '2 ~ 9 浏览量'
                                },
                                subtitle: {
                                    text: '数据来源：商品管理（数据）'
                                },
                                yAxis: {
                                    title: {
                                        text: '浏览次数'
                                    }
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'middle'
                                },
                                plotOptions: {
                                    series: {
                                        label: {
                                            connectorAllowed: false
                                        },
                                        pointStart: 2
                                    }
                                },
                                series: [{
                                    name: '浏览次数',
                                    data: [9, 8, 7, 11, 20, 50, 100, 200]
                                }],
                                responsive: {
                                    rules: [{
                                        condition: {
                                            maxWidth: 500
                                        },
                                        chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                        }
                                    }]
                                }
                            });

                        </script>

                    </div>
                    <div class="tab-pane" id="btabs-static-3">
                        <div id="ones" style="max-width:1600px;height:600px"></div>
                        <script>



                            var chart = Highcharts.chart('ones', {
                                title: {
                                    text: '2 ~ 9 月的衣服总量'
                                },
                                subtitle: {
                                    text: '数据来源：商品管理（数据）'
                                },
                                yAxis: {
                                    title: {
                                        text: '衣服总量'
                                    }
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'middle'
                                },
                                plotOptions: {
                                    series: {
                                        label: {
                                            connectorAllowed: false
                                        },
                                        pointStart: 2
                                    }
                                },
                                series: [{
                                    name: '男装',
                                    data: [11, 8, 3, 4, 7,8, 31, 10]
                                }],
                                responsive: {
                                    rules: [{
                                        condition: {
                                            maxWidth: 500
                                        },
                                        chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                        }
                                    }]
                                }
                            });

                        </script>

                    </div>
                    
                    <div class="tab-pane" id="btabs-static-settings">
                        <p>
                            最右边的
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Card Tabs Default Style -->
            <!-- Card Tabs Alternative Style -->
            <!-- End Card Tabs Alternative Style -->
        </div>
        <!-- .col-md-12 -->
    </div>

</div>
<!-- .container -->
<!-- End Page Content -->
