
@{
    ViewData["Title"] = "FindShow";
}

<a href="/Orders/OrdersShow"><h2>订单管理</h2></a>
<div style="border:solid 1px blue;height:690px;width:1200px" >
    <div style="border-bottom:dashed 2px">
        <h3>买家信息</h3>
        <span>用户名:顾中豪  </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>手机号:1588558575 </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>所在地:浙江 杭州</span>
        <br />
        <br />
    </div>
    <div>
        <h3>订单信息</h3>
        <span>订单编号:53145913</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>订单类型:普通订单</span>
        <br /><br />
        <span>创建时间:2018-11-08 18:54</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>付款时间:2018-11-28 18:54</span>
        <br /><br />
        <span>交易号:20181108002544525587547</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>支付方式:支付宝</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>支付流水:201811080022365456523</span>
        <br /><br /><br /><br />
        <table width="60%" class="table table-bordered">
            <thead>
                <tr>
                    <th>商品信息</th>
                    <th>规格</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>商品总价</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>儿童服装花点棉衣</td>
                    <td>XL</td>
                    <td>28.80</td>
                    <td>1</td>
                    <td>$28.80</td>
                </tr>
                <tr>
                    <td>波司登皮衣</td>
                    <td>XL</td>
                    <td>72.00</td>
                    <td>1</td>
                    <td>$72.00</td>
                </tr>
                <tr>
                    <td>花花公子衬衫</td>
                    <td>XL</td>
                    <td>99.00</td>
                    <td>1</td>
                    <td>$99.00</td>
                </tr>
            </tbody>
        </table>
        <div style="float:right;">
            <b>实收款</b>:<span style="color:brown">￥199.80</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br />
            <span>含运费</span>:<span style="color:brown">10.00</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <br />
        
    </div>
</div>